/*CSS Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#light{
  background-color:#efefef ;
}

/* DARK-MODE */

#dark{
  background-color:#121212;
  color: #f4eee0;
}

 /* ==========MOBILE VIEW========== */
 @media(max-width:600px){

  .footer{
    margin:0;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}